.modal-dialog {
    max-width: 90%
}
.small 
{
    max-width: 500px !important;
}
.modal-header {
    color: #fff;
    background-color: #c00a2b;
}
.modal-header .close, .modal-header .close:hover {
    color: #fff;
}