html, body, #app, #app>div {
  height: 100% !important;
}

.full-height {
  min-height: 100% !important;
  height: 100% !important;
}

.content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-full {
  width: 100%;
}
.btn-round {
  border-radius: 50%;
}
.btn-outline-leeuwen {
    color:#A8052C; /*#c00a2b */
    background-color: transparent;
    background-image: none;
    border-color:#A8052C; /*#c00a2b */
}
.btn-outline-leeuwen:hover {
  color: #fff;
  background-color: #A8052C; /*#c00a2b */
}

.btn-leeuwen {
  color: #fff;
  background-color: #A8052C; /*#c00a2b */
  border-color:#A8052C /*#c00a2b */
}

.btn-leeuwen:hover {
  color: #fff;
  background-color: #980721;
  border-color:#980721;
}

.btn-outline-leeuwen-blue {
    color:#0070C0;  /* #1658a6 */
    background-color: transparent;
    background-image: none;
    border-color:#0070C0; /* #1658a6 */
}
.btn-outline-leeuwen-blue:hover {
  color: #fff;
  background-color: #0070C0; /* #1658a6 */
}

.btn-leeuwen-blue {
  color: #fff;
  background-color: #0070C0; /* #1658a6 */
  border-color:#0070C0 /* #1658a6 */
}

.btn-leeuwen-blue:hover {
  color: #fff;
  background-color: #0f3a71; /* #0f3a71 */
  border-color:#0f3a71;/* #0f3a71 */
}

.fa-icon {    
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}
.nav.tab-content {
    border: 1px solid transparent;
    border-color: transparent #dee2e6 #dee2e6;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.red {
  color: #A8052C; /*#c00a2b */
}
.bg-red {
  background-color: rgba(192, 10, 43, 0.5) !important;
}
.blue, a, a:hover {
  color: #0070C0; /* #1658a6 */
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
label {
  font-weight: bold;
}

#content{
  transition: 0.3s margin-left;
  padding:15px;
  margin-left: 350px;
  margin-right: 0;
  margin-bottom: 55px;

}

#content.nomenu {
  margin-left: 0 !important;
}

#content.collapsed {
  margin-left: 50px;
}

#headerbar {
  transition: 0.3s margin-left;
  margin-left: 350px;
}
#headerbar.collapsed {
  margin-left: 50px;
}

footer { 
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
    z-index: 998 !important;
}

.form-control {
  height: 34px;
  font-size: 1.25rem;
}

select.form-control:not([size]):not([multiple]) {
  height: 34px;
  font-size: 1.25rem;
}

.modal-content {
  border-radius: 1.25rem;
}

body {
  font-size:1.25rem;
}

.card-login {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 400px;
  max-width: 100%;
  padding: 15px;
}

h1 {
  font-size: 2rem; /* 2.5rem 30px/16=2.5em */
}

h2 {
  font-size: 1.75em; /* 2em 25px/16=1.875em */
}

h3 {
  font-size: 1.5em; /* 1.75em 20px/16=2.5em */
}

h4 {
  font-size: 1.25em; /* 1.5em 15px/16=2.5em */
}

h5 {
  font-size: 1em; /* 1.25em 22.4px/16=1.4em */
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: middle;
  margin: 0px;
  min-width: 75px;
  height: 24px;
  font-size: 12px;
}

/* .table-hover> tbody> tr:hover{
  background-color: #A8052C; 
  color:#FFFFFF;
} */

/* #c9dde1 #A8052C #A7A9AC*/