/* .card-login {
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 400px;
  max-width: 100%;
  padding: 15px;
} */

.card-login {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.25%;
}